## Data Science Position Task

#### 1-  Objective and Hypothesis

###### The objective of this task is to conclude whether or not people in the Muslim world die more often in month of Shaban. I will be using a ###### combination of hypothesis testing and data exploration to support any claims.

###### The null hypothesis (H<sub>0</sub>) is that average number of the deaths for all months are the same. 
###### The alternate hypothesis (H<sub>a</sub>) is that the average number of deaths of the month of Shaban is more than all months.

#### 2- Data Collection

In [2]:
# import required python packages 
import pandas as pd
import numpy as np

In [27]:
data = pd.read_csv('./data/data.csv', names=['name', 'gender', 'nationality', 'age', 'burial_date'], skiprows=1)

In [28]:
data.head()

                   name gender nationality     age burial_date
0  عيشه بنت محمد تكروني   أنثى       سعودي     NaN  1364/08/29
1         عفيه بنت محمد   أنثى       سعودي     NaN  1364/08/29
2         منير بنت عوده   أنثى       سعودي   2 سنة  1365/01/10
3        زهره علي بادري   أنثى       سعودي  50 سنة  1365/04/17
4       زينب بنت عقل سي   أنثى       سعودي     NaN  1365/05/22

In [35]:
# check the column data types
data.dtypes

name           object
gender         object
nationality    object
age            object
burial_date    object
dtype: object

In [29]:
# check for the shape of the data 
print(data.shape)

# explore data for any nulls
data.isna().sum()

(1500, 5)

name            0
gender          0
nationality     3
age            38
burial_date     0
dtype: int64

In [30]:
# We can ignore the nulls in the age column since we are interested in the total number of deaths in each month
# In another senario this needs more investigation.

In [31]:
# chack and remove any duplicates in the data
print(data[data.duplicated()].shape)

data[data.duplicated()]

(12, 5)

                            name gender nationality      age burial_date
452   الامير الحسن الرضا السنوسي    ذكر        ليبي   65 سنة  1412/11/01
803           حسن حاج حسين نصرتي    ذكر      إيراني   62 سنة  1412/12/22
819              عثمان علي مهرام    ذكر    باكستاني   57 سنة  1412/12/24
820              عثمان علي مهرام    ذكر    باكستاني   57 سنة  1412/12/24
829                  طفل غلو غشن    ذكر    باكستاني  04 اشهر  1413/01/06
883        طفله مقبل عريميط حضيض   أنثى       سعودي  05 اشهر  1413/01/14
900         مديني غنيمان الرشيدى    ذكر       سعودي   52 سنة  1413/01/17
1039    طفل صبيحه كوثر نزير احمد    ذكر    باكستاني  05 اشهر  1413/02/10
1068     طفله سلمى لافى اللقمانى   أنثى       سعودي  08 اشهر  1413/02/14
1258         امل ياسين عبدالعزيز    ذكر        مصري  05 اشهر  1413/03/08
1285        طفل زينب محمد الامين    ذكر    موريتاني  05 اشهر  1413/03/12
1286       طفله زينب محمد الامين   أنثى    موريتاني  05 اشهر  1413/03/12

In [32]:
# We have 12 duplicated rows in our data. We will remove the duplicates from our data
data.drop_duplicates(inplace=True)

In [33]:
data.shape

(1488, 5)

In [54]:
# restructuring the age column and making separate year, month and day colunm 

data['age_unit'] = data.age.map(lambda x: x.split(' ')[1] if(pd.notnull(x)) else x)
data['age'] = data.age.map(lambda x: x.split(' ')[0] if(pd.notnull(x)) else x)

In [ ]:
data['year'] = data.burial_date.map(lambda x: x.split('/')[0])

In [55]:
data.head()

                   name gender nationality  age burial_date age_unit
0  عيشه بنت محمد تكروني   أنثى       سعودي  NaN  1364/08/29      NaN
1         عفيه بنت محمد   أنثى       سعودي  NaN  1364/08/29      NaN
2         منير بنت عوده   أنثى       سعودي    2  1365/01/10      سنة
3        زهره علي بادري   أنثى       سعودي   50  1365/04/17      سنة
4       زينب بنت عقل سي   أنثى       سعودي  NaN  1365/05/22      NaN

#### 3- Data Exploration and Cleaning

#### 3- Modeling

#### 4- Results and Summary